<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="email" name="email" placeholder="email@email.com">
        <input type="text" name="message" placeholder="Sex laxar i en laxask">
        <button type="submit">Okej</button>
    </form>
    <% for( let i = 0; i < names.lenght; i++ ) { %>
        <div class="container">
            <h1>emailen</h1>
            <p>meddelandet</p>
        </div>
    <% } %>
</body>
</html>